<b [class]="textColorClass"> Hello World </b> <br/>
My name is {{ name }} <br/>
I am a {{ profession }}. <br/>
Do not forget to visit me at: {{ website }} <br/>
And connect with me on: <br/>
<ul>
  <li *ngFor="let link of socialLinks; let idx=index;"><a [class]="'red_border'" *ngIf="link.is_active" href="{{link.link}}">{{link.title}}</a> | <button (click)="removeItem(idx)">remove</button></li>
</ul>
Current Time: {{ time }} <br/>
<button (click)="handleClick()">Update++</button>: {{ count }}
<p>Enter a quote: <input type="text" value="" (keyup)="displayQuote($event)"></p>
<button type="button" (click)="saveQuote()">Save</button>
<br/>
<p>Here's your quote: {{ currentQuote }} </p>
<p> Quotes you've written previously:
  <ul>
    <li *ngFor="let quote of quotes;"> {{quote}} </li>
  </ul>

<h1>Two Way Data Binding</h1>
<input type="text" [(ngModel)]="inputData" value=""> <br>
<button type="button">React</button>
<div>
   Input data: {{ inputData | uppercase }}
</div>
